* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
    background-color: #8a8a8a;
  }
  
  .header {
    background-color: black;
    color: #8a8a8a;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .header img{
      width: 120px;
      height: 120px;
      border-radius: 50%;
  }
  

  .header h1{
    position: relative;
    top: 50px;
    left: 10px;
    font-size: 38px;
  }

  h1>a{
    text-decoration: none;
    color: #8a8a8a;
    background-image: linear-gradient(#8a8a8a, white);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  h1>a:hover, h1>a:focus, h1>a:active{
    background-size: 100% 0.1em;
    color: white;
    transition: color 1.0s;
  } 

  .header h3{
      grid-column: 3/4;
      align-self: flex-end;
      padding: 0px;
      margin: 0px;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: black;
    color: #8a8a8a;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-decoration: none;
  }

  .menu li>a{
      text-decoration: none;
      color: #4a4a4a;
  }

  
  .menu li:hover, li>a:hover{
    background-color: #8a8a8a;
    color: black;
  }
  


  #about{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: 1fr;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    border-bottom: 2px solid black;
}

.aside h2{
  color: #8a8a8a;
  text-align: center;
}
#myPic{
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.paraDiv{
    background-color: black;
    color: #8a8a8a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: 10px;
    text-align: justify;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

#more{
    display: none;
}


#resume{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: 1fr;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    grid-gap: 5px;
}


#resume>p{
    background-color: black;
    color: #8a8a8a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 10px;
    text-align: justify;
    padding: 10px;
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

#resume>p>a{
    color: #8a8a8a;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    background-image: linear-gradient(white, white);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

#resume>p>a:hover, #resume>p>a:focus, #resume>p>a:active{
    background-size: 100% 0.1em;
    color: white;
    transition: color 1.0s;
}

#resume img{
    width: 100%;
    height: 80%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}


#skills{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: 1fr;
    justify-content: space-between;
    margin: 0px auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    grid-gap: 5px;
}

.iconColumn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-around;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    width: 100%;
    height: 92%;
    grid-gap: 5px;
    border: 1px solid black;
    border-radius: 10px;

}



#projects{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row: 1fr;
    justify-content: space-between;
    margin: 0px auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    list-style: none;
}

#projects div{
    display: flex;
    flex-direction: column;
}

.projectPara{
    display: inline;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin:10px 0px;
    text-align: center;
    padding: 10px 0px;
}

#projects span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 350px;
    border-radius: 10px;
}


#projects span>a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    background-color: white;
    border-radius: 10px;
    background-image: linear-gradient(#8a8a8a, black);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

#projects span a:hover, #projects span a:focus, #projects span a:active{
    background-size: 100% 0.1em;
    color: black;
    transition: color 1.0s;
}


.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.link-brighten{
    transition: 1s;
    filter: brightness(100%);
}

.col-2{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: sans-serif;
}

.contact-title {
  color: #4a4a4a;
  text-transform: uppercase;
}

.contact-title>h1{
  font-size: 32px;
  line-height: 10px;
}

.contact-title>h2{
  font-size: 16px;
}

form{
  border: 2px solid black;
  border-radius: 10%;
}

.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

.submit{
  background-color: black;
  border-color: transparent;
  color: #2a2a2a;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

.submit:hover{
  color: #8a8a8a;
}

.aside {
  background-color: black;
  padding: 15px;
  color: #8a8a8a;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aside a{
    text-decoration: none;
    font-size: 24px;
    color: #8a8a8a;
    background-image: linear-gradient(#8a8a8a, white);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.aside a:hover, .aside a:focus, .aside a:active{
    background-size: 100% 0.1em;
    color: white;
    transition: color 1.0s;
  } 
  
  .footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  


  /* For mobile phones: */
  [class*="col-"]  {
    width: 100%;
  }


  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 22%;}
    .col-2 {width: 56%;}
    .col-3 {width: 22%;}
  }