/* Lesson 1: Detecting a click */
/* #circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
    margin: 10px;
}

.square{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 10px;
} */


/* Lesson 2: Changing website content */

/* #circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
    margin: 10px;
} */


/* Lesson 3: Changing website styles */

/* #circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
    margin: 10px;
}

.square{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 10px;
} */

/* Lesson 4: Fading Content */

/* #circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
    margin: 10px;
}

.square{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 10px;
} */


/* #hiddenText{
    display: none;
} */




/* Lesson 5: Animating Content */


#circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
}


/* Lesson 5: AJAX */

